$comf: 'Comfortaa', 'sans-serif';
$mont: 'Montserrat', 'sans-serif';
$mul: 'Mulish', 'sans-serif';
$ral: 'Raleway', 'sans-serif';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.empty-wrapper {
  width: 10%;
}

main {
  width: 90%;
  flex-basis: 90%;
  transition: 0.5s ease-in-out;
  .introduce_section {
    padding: 80px 0 0;
    .introduce_container {
      max-width: 1400px;
      margin: 0 auto;
      .introduce_row {
        display: flex;
        flex-wrap: wrap;
        .col-6 {
          width: 50%;
          flex-basis: 50%;
          transition: 0.5s ease-in-out;
          padding: 10px;
          .box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 100%;
            .developer_img {
              display: block;
              margin: 0 auto;
              width: 100%;
              height: auto;
              max-height: 620px;
              border-radius: 99em;
              object-fit: cover;
            }
          }
          .box_personal {
            gap: 10px;
            justify-content: center;
            .developer_personal {
              font-family: $comf;
              font-size: 40px;
              font-weight: 700;
              color: #000;
            }
            .developer_descr {
              font-family: $comf;
              font-size: 16px;
              font-weight: 500;
              color: gray;
              line-height: 23px;
            }
          }
        }
      }
    }
  }
  .about_section {
    padding: 80px 20px;
    .about_container {
      max-width: 1300px;
      margin: 0 auto;
      .about_box {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        .about_image {
          display: block;
          margin: 0 auto;
          width: 30%;
          height: auto;
          border-radius: 10px;
        }
        .about_inner_box {
          background: #fff;
          position: absolute;
          top: 45%;
          left: 10%;
          display: flex;
          flex-direction: column;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          -moz-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 10px;
          padding: 20px;
          width: 80%;
          flex-basis: 80%;
          transition: 0.5s ease-in-out;
          gap: 15px;
          .about_descr {
            font-family: $mul;
            font-size: 25px;
            font-weight: 500;
            color: #000;
            .green_markered {
              background: #ccff00;
              padding: 3px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  .skills_section {
    padding: 80px 0;
    .skills_container {
      max-width: 1300px;
      margin: 0 auto;
      .skills_box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .instruments_title {
          font-size: 45px;
          font-family: $comf;
          font-weight: 500;
          color: #000;
        }
        .instruments_inner_box {
          display: flex;
          flex-wrap: wrap;
          .col {
            width: 33.333%;
            flex-basis: 33.333%;
            transition: 0.5s ease-in-out;
            padding: 8px;
            .box {
              overflow: hidden;
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              border: 1px solid gainsboro;
              border-radius: 8px;
              padding: 10px;
              gap: 20px;
              height: 100%;
              transition: 0.3s ease-in-out;
              .instruments_picture {
                display: block;
                margin: 0 auto;
                width: 30%;
                flex-basis: 30%;
                transition: 0.5s ease-in-out;
                height: auto;
                border-radius: 99em;
                object-fit: cover;
              }
              .instruments_name {
                font-family: $ral;
                font-size: 25px;
                font-weight: 500;
                color: #20232a;
              }
              .rotate_box_info {
                opacity: 0;
                transition: 0.5s ease-in-out;
                top: 0;
                position: absolute;
                background: #ccff00;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                width: 100%;
                height: 100%;
                span {
                  color: #000;
                  font-weight: 700;
                  font-family: $mont;
                  font-size: 18px;
                }
                p {
                  color: #000;
                  font-family: $ral;
                  font-size: 15px;
                  line-height: 27px;
                }
              }
            }
            .box:hover {
              .rotate_box_info {
                opacity: 1;
                transition: 0.5s ease-in-out;
              }
            }
          }
        }
        .skills_title {
          font-size: 45px;
          font-family: $comf;
          font-weight: 500;
          color: #000;
        }
        .skills_inner_box {
          display: flex;
          flex-wrap: wrap;
          .col {
            width: 33.333%;
            flex-basis: 33.333%;
            transition: 0.5s ease-in-out;
            padding: 8px;
            .box {
              overflow: hidden;
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              border: 1px solid gainsboro;
              border-radius: 8px;
              padding: 10px;
              gap: 20px;
              height: 100%;
              transition: 0.3s ease-in-out;
              .skill_picture {
                display: block;
                margin: 0 auto;
                width: 30%;
                height: auto;
                border-radius: 99em;
                object-fit: cover;
              }
              .skill_name {
                font-family: $ral;
                font-size: 25px;
                font-weight: 500;
                color: #20232a;
              }
              .rotate_box_info {
                opacity: 0;
                transition: 0.5s ease-in-out;
                top: 0;
                position: absolute;
                background: #ccff00;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                width: 100%;
                height: 100%;
                span {
                  font-weight: 700;
                  color: #000;
                  font-family: $mont;
                  font-size: 18px;
                }
                p {
                  color: #000;
                  font-family: $ral;
                  font-size: 15px;
                  line-height: 27px;
                }
              }
            }
            .box:hover {
              .rotate_box_info {
                opacity: 1;
                transition: 0.5s ease-in-out;
              }
            }
          }
        }
        .show_blocks {
          display: none;
          margin: 0 auto;
          width: 70%;
          flex-basis: 70%;
          transition: 0.5s ease-in-out;
          border: 1px solid gainsboro;
          background: #fff;
          color: #000;
          border-radius: 8px;
          padding: 20px;
          font-size: 17px;
          font-family: $ral;
          font-weight: 500;
        }
      }
    }
  }
  .socialmedia_section {
    padding: 80px 0;
    .socialmedia_container {
      max-width: 1300px;
      margin: 0 auto;
      .socialmedia_title {
        font-size: 45px;
        font-family: $comf;
        font-weight: 500;
        color: #000;
        padding: 30px 0;
      }
      .socialmedia_row {
        display: flex;
        flex-wrap: wrap;
        .col {
          width: 33.333%;
          flex-basis: 33.333%;
          padding: 8px;
          transition: 0.5s ease-in-out;
          .box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid gainsboro;
            border-radius: 8px;
            height: 100%;
            gap: 20px;
            padding: 0 0 10px;
            transition: 0.2s ease-in-out;
            .wrapper_link {
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              z-index: 999;
            }
            .socialmedia_img {
              display: block;
              margin: 0 auto;
              width: 100%;
              height: 70%;
              object-fit: cover;
            }
            .socialmedia_name {
              font-family: $mont;
              font-weight: 500;
              font-size: 20px;
            }
            .route_to {
              font-family: $ral;
              font-weight: 500;
              font-size: 15px;
            }
          }
          .box:hover {
            background: #ccff00;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
  }
}