@media screen and (max-width: 950px) {
  main {
    .skills_section {
      padding: 15px;
      .skills_container {
        .skills_box {
          .instruments_inner_box {
            .col {
              width: 50%;
              flex-basis: 50%;
              transition: 0.5s ease-in-out;
              .box {
                .instruments_name {
                  font-size: 18px;
                }
                .rotate_box_info {
                  span {
                    font-size: 15px;
                  }
                  p {
                    overflow: auto;
                    font-size: 14px;
                    line-height: 21px;
                  }
                }
              }
            }
          }
          .skills_inner_box {
            .col {
              width: 50%;
              flex-basis: 50%;
              transition: 0.5s ease-in-out;
              .box {
                .skill_name {
                  font-size: 18px;
                }
                .rotate_box_info {
                  span {
                    font-size: 15px;
                  }
                  p {
                    overflow: auto;
                    font-size: 14px;
                    line-height: 21px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .socialmedia_section {
      padding: 15px;
      .socialmedia_container {
        .socialmedia_row {
          .col {
            width: 50%;
            flex-basis: 50%;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  main {
    .about_section {
      padding: 80px 20px;
    }
    .introduce_section {
      padding: 15px;
      .introduce_container {
        .introduce_row {
          .col-6 {
            width: 100%;
            flex-basis: 100%;
            transition: flex 0.5s ease-in-out;
          }
        }
      }
    }
    .about_section {
      .about_container {
        .about_box {
          .about_image {
            width: 70%;
            flex-basis: 70%;
            transition: flex 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .empty-wrapper {
    display: none;
  }
  .wrapper_content {
    width: 100%;
    flex-basis: 100%;
    transition: flex 0.5s ease-in-out;
  }
  main {
    .introduce_section {
      .introduce_container {
        .introduce_row {
          .col-6 {
            .box_personal {
              .developer_personal {
                font-size: 26px;
              }
              .developer_descr {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .skills_section {
      .skills_container {
        .skills_box {
          .instruments_title {
            font-size: 29px;
          }
          .skills_inner_box {
            overflow: hidden;
            max-height: 48vw;
            transition: 0.5s ease-in-out;
          }
          .skills_inner_box.Show {
            max-height: 500vw;
            transition: 0.5s ease-in-out;
          }
          .skills_title {
            font-size: 29px;
          }
          .show_blocks {
            display: block;
          }
        }
      }
    }
    .socialmedia_section {
      .socialmedia_container {
        .socialmedia_title {
          font-size: 29px;
        }
      }
    }
    .about_section {
      .about_container {
        .about_box {
          .about_inner_box {
            left: 0;
            width: 100%;
            flex-basis: 100%;
            transition: flex 0.5s ease-in-out;
            .about_descr {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  main {
    .about_section {
      padding: 80px 20px 200px;
    }
    .skills_section {
      .skills_container {
        .skills_box {
          .skills_inner_box {
            overflow: hidden;
            max-height: 170vw;
            transition: 0.5s ease-in-out;
          }
          .instruments_inner_box {
            .col {
              flex-basis: 100%;
              transition: 0.5s ease-in-out;
            }
          }
          .skills_inner_box {
            .col {
              flex-basis: 100%;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
    }
    .socialmedia_section {
      .socialmedia_container {
        .socialmedia_row {
          .col {
            width: 100%;
            flex-basis: 100%;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  main {
    .about_section {
      padding-bottom: 250px;
    }
  }
}

@media screen and (max-width: 330px) {
  main {
    .about_section {
      padding-bottom: 320px;
    }
  }
}
