$comf: 'Comfortaa', 'sans-serif';
$mont: 'Montserrat', 'sans-serif';
$mul: 'Mulish', 'sans-serif';
$ral: 'Raleway', 'sans-serif';

@keyframes contentAppear {
  0% {opacity: 0}
  100% {opacity: 1}
}


.wrapper.dark-theme {
  main {
    .projects_section {
      .projects_container {
        .projects_row {
          .projects_title {
            color: #fff;
          }
          .projects_row_box {
            .col {
              .box {
                border: none;
                background: RGB(44, 45, 47);
                .project_descr {
                  color: #fff;
                }
              }
              .box:hover {
                background: #ccff00;
              }
            }
          }
        }
      }
    }
  }
}

main {
  flex-grow: 1;
  animation: contentAppear 0.5s ease-in-out;
  .projects_section {
    padding: 40px 0 0;
    .projects_container {
      max-width: 1300px;
      margin: 0 auto;
      .projects_row {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .projects_title {
          font-size: 45px;
          font-family: $comf;
          font-weight: 500;
          color: #000;
        }
        .projects_row_box {
          display: flex;
          flex-wrap: wrap;
          .col {
            width: 33.333%;
            flex-basis: 33.333%;
            padding: 8px;
            transition: 0.5s ease-in-out;
            .box {
              position: relative;
              display: flex;
              flex-direction: column;
              border: 1px solid gainsboro;
              border-radius: 8px;
              padding: 0 0 10px;
              gap: 10px;
              height: 100%;
              transition: 0.5s ease-in-out;
              .wrapper_link {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
              }
              .project_img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .project_name {
                font-family: $ral;
                font-size: 25px;
                font-weight: 500;
                color: #000;
                padding: 0 10px;
              }
              .project_descr {
                font-family: $comf;
                font-size: 15px;
                font-weight: 500;
                color: gray;
                padding: 0 10px;
              }
            }
            .box:hover {
              background: #ccff00;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
}